@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}

.fontes {
    font-size: 1rem; /* Ajustado para unidade relativa */
    font-family: "Inter", sans-serif;
}

body {
    background-image: url("assets/Frame01.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: "Inter", sans-serif;
    margin: 0;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay para melhorar a legibilidade */
    z-index: -1; /* Mantém o overlay atrás do conteúdo */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
}

.header-img {
    max-width: 50px;
    width: 10%;
    height: auto;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
    filter: saturate(2.5) brightness(0.8); /* Ajusta a saturação e brilho */
}

h1 {
    background: linear-gradient(to right, #1e90ff, #87cefa, #1e90ff); /* Gradiente para criar o efeito metálico */
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    text-align: center;
}

@keyframes piscar {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

h2 {
    text-transform: capitalize;
    background: linear-gradient(to right, #e74c3c, #c0392b, #e74c3c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 5px;
    font-weight: bold;
    font-size: 0.75rem; /* Ajustado para unidade relativa */
    text-align: left;
    animation: piscar 1s infinite;
    margin-bottom: 10px;
}

#content {
    text-align: center;
    color: white;
    padding: 2%;
    background-color: transparent;
}

.container {
    max-width: 700px;
    margin: auto;
}

.result {
    margin-top: 0;
    padding: 10px;
    border: 4px solid #333;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: black;
}

footer {
    margin-top: 30px;
    padding: 10px;
    border-top: 1px solid #ccc;
    text-align: center;
}

button {
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.text-area {
    background-color: #333;
    color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #fff;
}

#inputText {
    width: 100%;
    height: 100px;
    border: none;
    padding: 10px;
    background: rgba(0, 0, 255, 0.5);
    color: white;
    font-size: 1rem; /* Ajustado para unidade relativa */
    resize: none;
}

#resultText {
    margin-top: 10px;
    padding: 50px;
    background-color: #f9f9f9;
    color: black;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.hover-text {
    cursor: pointer;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem; /* Ajuste do tamanho da fonte em telas menores */
    }

    .container {
        max-width: 90%; /* Reduz o tamanho do container em telas menores */
    }

    .result {
        padding: 5px;
        border: 2px solid #333;
    }

    button {
        width: 100%; /* Faz o botão ocupar toda a largura disponível em telas menores */
    }
}

